<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>06A5F242-D3C8-409F-9AD2-78BE3C6EA483</key>
	<dict>
		<key>UUID</key>
		<string>06A5F242-D3C8-409F-9AD2-78BE3C6EA483</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/sites/jbrandjeans.com/build</string>
		<key>title</key>
		<string>jbrandjeans.com</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>31928252-BEDC-464A-9CB9-A275C1FBA0F2</key>
	<dict>
		<key>UUID</key>
		<string>31928252-BEDC-464A-9CB9-A275C1FBA0F2</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/boxen-source/github/our-boxen</string>
		<key>sortingOrder</key>
		<integer>4</integer>
		<key>title</key>
		<string>our-boxen (github)</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>4EE4DFC4-4BDA-4F5D-BAE8-A13F238246B6</key>
	<dict>
		<key>UUID</key>
		<string>4EE4DFC4-4BDA-4F5D-BAE8-A13F238246B6</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/applications/FreeRDP</string>
		<key>sortingOrder</key>
		<integer>1</integer>
		<key>title</key>
		<string>FreeRDP</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>5C97BCEC-D048-413C-85C5-3555D020FAA6</key>
	<dict>
		<key>UUID</key>
		<string>5C97BCEC-D048-413C-85C5-3555D020FAA6</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/sites/vash-express-example</string>
		<key>sortingOrder</key>
		<integer>0</integer>
		<key>title</key>
		<string>vash-express-example</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>5FE1398B-D48D-4D99-BF12-9B55DCFFD52C</key>
	<dict>
		<key>UUID</key>
		<string>5FE1398B-D48D-4D99-BF12-9B55DCFFD52C</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/opt/boxen/repo</string>
		<key>sortingOrder</key>
		<integer>7</integer>
		<key>title</key>
		<string>our-boxen (karl-wednesday)</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>72EC3EEB-A9CE-404C-A820-7E0C899C9598</key>
	<dict>
		<key>UUID</key>
		<string>72EC3EEB-A9CE-404C-A820-7E0C899C9598</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/sites/cookadlib.com</string>
		<key>title</key>
		<string>cookadlib.com</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>90A19EBF-0998-4FC6-B929-56B1970F55FA</key>
	<dict>
		<key>UUID</key>
		<string>90A19EBF-0998-4FC6-B929-56B1970F55FA</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/boxen-source/karl-wednesday/boxen-web</string>
		<key>sortingOrder</key>
		<integer>8</integer>
		<key>title</key>
		<string>boxen-web (karl-wednesday)</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>931C7DDD-C47F-4989-B7EE-1625A3A8BFAB</key>
	<dict>
		<key>UUID</key>
		<string>931C7DDD-C47F-4989-B7EE-1625A3A8BFAB</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/sites/wednesday-sample</string>
		<key>sortingOrder</key>
		<integer>2</integer>
		<key>title</key>
		<string>wednesday-sample</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>A23715D4-2FDD-4F5A-B580-5527340A3942</key>
	<dict>
		<key>UUID</key>
		<string>A23715D4-2FDD-4F5A-B580-5527340A3942</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/dotfiles</string>
		<key>title</key>
		<string>dotfiles</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>AB8AA4BB-E3A1-4061-B0B6-9CDBBA47BB0B</key>
	<dict>
		<key>UUID</key>
		<string>AB8AA4BB-E3A1-4061-B0B6-9CDBBA47BB0B</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/vagrant</string>
		<key>sortingOrder</key>
		<integer>3</integer>
		<key>title</key>
		<string>vagrant</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>AC8D4F89-4A21-4154-BAE1-9AFB544E55E3</key>
	<dict>
		<key>UUID</key>
		<string>AC8D4F89-4A21-4154-BAE1-9AFB544E55E3</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/boxen-source/github/boxen-web</string>
		<key>sortingOrder</key>
		<integer>6</integer>
		<key>title</key>
		<string>boxen-web (github)</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
	<key>D9FA7A7E-4E41-412A-AA70-260B56CCB228</key>
	<dict>
		<key>UUID</key>
		<string>D9FA7A7E-4E41-412A-AA70-260B56CCB228</string>
		<key>childNodes</key>
		<array/>
		<key>isExpanded</key>
		<false/>
		<key>representedObject</key>
		<string>/Users/karl/src/sites/swarovskigroup.com/deploy</string>
		<key>sortingOrder</key>
		<integer>5</integer>
		<key>title</key>
		<string>swarovskigroup.com</string>
		<key>type</key>
		<string>GCBookmarkTypeRepository</string>
	</dict>
</dict>
</plist>
